* {
	box-sizing: border-box;
}

.center {
	width: 1260px;
	margin: 0 auto;
}

							/*  header  */

		/* header-top */
.page-header {		
	background-color: #9e9c93;	
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;		
}

.page-header__shadow {
	background-image: url(../images/block-1_bg_shadow.png);
	background-repeat: no-repeat;
	background-position: center;
}

.page-header__nav-line {
	min-height: 70px;	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
	
	background-color: rgba(86, 83, 76, 0.53);
}

.page-header__header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.page-header__logo {	
	margin-left: 25px;
	margin-bottom: 15px;
	
	font-family: "Scriptina", sans-serif;
	font-size: 30px;	
	color: #fff;
	text-decoration: none;
}

.page-header__nav-items {
	margin: 0;
	padding: 0;	
	margin-bottom: 5px;
	display: flex;
	justify-content: space-around;	
	flex-wrap: wrap;
		
	list-style: none;
}

.page-header__nav-items li {
	margin-right: 85px;	
	position: relative;
}

.page-header__nav-items li::after {
	content: "~";	
	position: absolute;
	right: -40px;
	top: 4px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 14px;
	color: #fff;	
}

.page-header__nav-items li:last-of-type::after {
	content: "";
	display: none;
}

.page-header__nav-item {
	font-family: "Alegreya", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.page-header__nav-item:hover {
	color: #B2B2B2;
}

.page-header__social-items {
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-header__social-items li{
	margin-right: 25px;
	
	list-style: none;
}

.page-header__social-items li:last-of-type {
	margin-right: 0;
}

		/*  header-bottom  */

.page-header__header-bottom {
	padding-top: 230px;
	width: 770px;
	position: relative;
	
	text-align: center;	
}

.page-header__header-bottom::after {
	content: "";
	display: block;
	width: 106px;
	height: 106px;
	position: absolute;
	bottom: -57px;
	left: 332px;	
	
	background-image: url(../images/bread-on-long-border.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.page-header__main-title {
	margin: 0;
	padding: 0;
	padding-bottom: 165px;
	
	font-family: "Playfair Display", sans-serif;
	font-weight: bold;
	font-size: 92px;
	line-height: 24px;
	color: #fff;
	letter-spacing: 5px;
	text-align: center;
	
	background-image: url(../images/block1_dashed%20line.png);
	background-repeat: no-repeat;
	background-position: center 120px;
}

.page-header__header-slogan {
	margin: 0;
	padding: 0 80px;
	margin-bottom: 60px;
	
	font-family: "Proxima Nova", sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 36px;
	color: #fff;
	letter-spacing: 3px;
	text-align: center;
}

.page-header__ourMenu-btn {
	padding: 15px 50px;	
	display: inline-block;
	margin-bottom: 231px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	
	background-color: rgba(86, 83, 76, 0.53);
	border: 1px dashed #9e9c93;
}

.page-header__ourMenu-btn:hover {
	background-color: rgba(86, 83, 76, 0.8);
}

							/*  main  */

		/* products-cake */

.page-main__cakes-wrap {
	background-image: url(../images/block_2_bg.jpg);
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: cover;
}

.page-main__products-cakes {
	padding: 110px 0;	
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;	
}

.page-main__about-cakes {
	max-width: 630px;
	
	text-align: center;
}

.page-main__cakes-title {
	padding: 0;
	margin: 0;
	margin-bottom: 13px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 48px;
	font-weight: bold;
	line-height: 30px;
	color: #56534c;
}

.page-main__sub-title {
	padding: 0;
	margin: 0;
	margin-bottom: 52px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	color: #a47d5e;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.page-main__cakes-description {
	padding: 0 60px;
	margin: 0;
	margin-bottom: 35px;
	
	font-family: "Proxima Nova", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #56534c;
	letter-spacing: 1px;
}

.page-main__job-name {
	padding: 0;
	margin: 0;
	margin-bottom: 60px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #56534c;
}

.page-main__worker-name {
	position: relative;
	margin-bottom: 45px;
	
	font-size: 0;
}

.page-main__name,
.page-main__surname {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 60px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
	color: #56534c;	
	
	border: 1px solid #d7d5ca;
	border-left: none;
	border-right: none;
}

.page-main__name {
	margin-right: 150px;
}

.page-main__cook-ava {
	display: inline-block;
	width: 105px;
	height: 105px;
	position: absolute;
	top: -22.5px;
	left: 262.5px;
	
	background-image: url(../images/ava_cook1.png);
	background-repeat: no-repeat;
	border-radius: 50%;
}

.page-main__wish {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 415px;
	height: 100px;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
	
	font-family: "Scriptina", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #a47d5e;
}

.page-main__wish::before,
.page-main__wish::after {
	content: "";
	display: block;
	width: 30px;
	height: 14px;
	position: absolute;
	
	background-repeat: no-repeat;	
	background-position: top center;
}

.page-main__wish::before {	
	left: 0;
	top: 0;
	
	background-image: url(../images/quotes_start.png);	
}

.page-main__wish::after {
	right: 0;
	bottom: 0;
	
	background-image: url(../images/quotes_end.png);
}

.page-main__product-items {
	position: relative;
	max-width: 630px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.page-main__quality-tastes {
	width: 279px;
	height: 279px;
	position: absolute;
	top: 145.5px;
	left: 170.5px;
	padding: 90px 50px;

	font-family: "Alegreya", sans-serif;
	font-size: 30px;
	font-weight: normal;
	line-height: 36px;
	color: #c9b176;
	text-align: center;
	text-transform: uppercase;
		
	background-image: url(../images/block-2_tasted-so-good.png);
	background-repeat: no-repeat;
	opacity: 0.97;
}

.page-main__product-item {
	outline: 5px solid #fff;
	outline-offset: -11px;	
	margin: 10px;
}

		/* product-pancakes */

.page-main__products-pancakes {	
	padding: 140px 0 107px 0;
	
	background-image: url(../images/block_3_bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.page-main__about-pancakes {
	width: 970px;
	height: 513px;
	display: flex;	
	
	box-shadow: 0 25px 54px rgba(105, 80, 58, 0.45);
}

.page-main__imagePancakes-wrap {
	width: 420px;
	height: 513px;	
	position: relative;	
	
	background-color: #fff;
}

.page-main__circle {
	display: block;
	width: 48px;
	height: 48px;
	position: absolute;
	right: -24px;
	top: 232px;
	z-index: 1;
			
	background-color: #fff;
	border-radius: 50%;
	color: #d8bba3;	
}

.page-main__burger {
	display: block;
	width: 1px;
	height: 16px;
	position: absolute;
	top: 16px;
	left: 23px;
	
	background-color: #d8bba3;
}

.page-main__burger::before,
.page-main__burger::after {
	content: "";
	display: block;
	width: 1px;
	height: 16px;
	position: absolute;
	top: 0px;
		
	background-color: #d8bba3;
}

.page-main__burger::before {
	left: 3px;
}

.page-main__burger::after {
	right: 3px;
}

.page-main__five-stars {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20px;
	height: 145px;
	position: absolute;
	top: 187px;
	left: 30px;
}

.page-main__pancakes-inner {
	padding: 85px 71px 40px 60px;
	position: relative;
	
	background-color: #fff;
	background-image: url(../images/block_3_windmill.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.page-main__pancakes-title {
	padding: 0;
	margin: 0;
	margin-bottom: 13px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 48px;
	font-weight: bold;
	line-height: 30px;
	color: #56534c;
	letter-spacing: 2px;
}

.page-main__pancakes-subTitle {
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	color: #a47d5e;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.page-main__pancakes-description {
	padding: 0;
	margin: 0;
	margin-bottom: 100px;
	
	font-family: "Proxima Nova", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #56534c;
	letter-spacing: 1px;
}

.page-main__time-status {
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: -105px;
	top: -43px;
	
	background-image: url(../images/block_3_onMinutes.png);
	background-repeat: no-repeat;
	box-shadow: 0 5px 60px 15px rgba(0, 1, 1, 0.2);
}

.page-main__time-title {
	padding: 0;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 38px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #a47d5e;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.page-main__time-number {
	display: block;
	margin-bottom: 26px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 92px;
	font-weight: bold;
	line-height: 30px;
	color: #dfc691;
	letter-spacing: 7px;
}

.page-main__time-name {
	font-family: "Alegreya", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #979285;
	letter-spacing: 2px;
}

.page-main__slick-slider {
	width: 340px;
	height: 105px;
	margin: 0 auto;	
}

.page-main__slick-slider div:focus {
	outline: none;
}


		/* products-breakfast */

.page-main__products-breakfast {		
	background-image: url(../images/block_4_bg2.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.page-main__breacfast-wrap {
	padding: 100px 0 34px 200px;
	
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;	
}

.page-main__breakfast-description {
	max-width: 630px;
	
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.page-main__breakfast-title {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 30px;
	color: #fff;
	letter-spacing: 3px;
}

.page-main__breakfast-sub {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #c8a593;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.page-main__breakfast-options {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;	
	text-align: center;
}

.page-main__breakfast-option {
	padding-bottom: 50px;
}

.page-main__option-title {
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	color: #fff;
	letter-spacing: 1.5px;
}

.page-main__option-sub {
	padding: 0;
	margin: 0;
	margin-bottom: 18px;
	
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
	color: #c2beba;
	letter-spacing: 0.8px;
}

.page-main__option-price {	
	display: inline-block;
	position: relative;
	
	font-family: "Alegreya", sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 30px;
	color: #dfc691;
	letter-spacing: 2px;
}

.page-main__option-price::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 48px;
	width: 90px;
	height: 27px;
	background-image: url(../images/block_4_wheat.png);
	background-repeat: no-repeat;	
}

.page-main__breakfast-option:last-of-type .page-main__option-price::after {
	display: none;
}

.page-main__history {
	width: 440px;
	height: 600px;
	padding: 48px 49px 65px 49px;
	position: relative;
	
	background-color: #f3f1e9;
	background-image: url(../images/block_4_lineOnCard.png);
	background-repeat: no-repeat;
	background-position: center 80px;
	outline: 1px dashed #9e9c93;
	outline-offset: -10px;
	text-align: center;
	overflow: hidden;
}

.page-main__history::after {
	content: "";
	display: block;
	width: 346px;
	height: 220px;
	position: absolute;
	bottom: -70px;
	right: -170px;	
	
	background-image: url(../images/block_4_onCard.png);
	background-repeat: no-repeat;
}

.page-main__history-date {		
	display: flex;
	justify-content: space-around;
	margin-bottom: 125px;
}

.page-main__dete-item {
	font-family: "Alegreya", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	color: #56534c;
	text-transform: uppercase;	
}

.page-main__history-title {
	padding: 0;
	margin: 0;
	margin-bottom: 36px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 44px;
	font-weight: bold;
	line-height: 60px;
	color: #56534c;	
	text-align: center;
}

.page-main__history-description {
	padding: 0;
	margin: 0;
	margin-bottom: 55px;
	
	font-family: "Proxima Nova", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	color: #56534c;
	letter-spacing: 1px;
	text-align: center;
}

.page-main__history-readMore {	
	justify-content: center;
	padding: 16px 77px;	
	position: relative;
	z-index: 1;
	
	font-family: "Alegreya", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;		
	color: #a47d5e;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	
	background-color: transparent;
	border: 1px solid #9e9c93;
}

.page-main__history-readMore:hover {
	color: #6F4829;
}


							/*  footer  */

.page-footer {
	height: 1160px;
	
	background-color: #f3f1e9;
}

.page-footer__footer-wrap {
	background-image: url(../images/block_5_topDecor.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.page-footer__wrap-flex {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}

.page-footer__ingredients-items {
	width: 300px;
	margin-top: 65px;
}



.page-footer__ingredients-item {
	margin-bottom: 55px;
	text-align: center;
}

.page-footer__ingredients-item:last-of-type {
	margin: 0;
}

.page-footer__ingredients-item img {
	margin-bottom: 15px;
}

.page-footer__ingredients-title {
	padding: 0;
	margin: 0;
	margin-bottom: 23px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	color: #a47d5e;
}

.page-footer__ingredients-description {
	padding: 0 25px;
	margin: 0;	
	
	font-family: "Proxima Nova", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #56534c;
}

.page-footer__instance-sandwich {
	width: 860px;	
	position: relative;
}

.page-footer__instance-title {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 48px;
	font-weight: bold;
	line-height: 30px;
	color: #56534c;	
	letter-spacing: 1px;
}

.page-footer__instance-subtitle {
	padding: 0;
	margin: 0;
	margin-bottom: 80px;
	padding-left: 65px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	color: #a47d5e;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}

.page-footer__instance-img {
	margin-left: 20px;
	
	outline: 10px solid #fff;
	outline-offset: -10px;
}

.page-footer__instance-description {
	display: inline-block;
	padding: 16px 33px;
	position: absolute;
	bottom: 97px;
	left: -2px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #dfc691;
	text-decoration: none;
	text-transform: uppercase;
	
	background-color: #fff;
	outline: 1px dashed #dfc691;
	outline-offset: -1px;
}

.page-footer__instance-description:hover {
	outline: 1px dashed #dfc691;
	outline-offset: -1px;
}

.page-footer__status-items {
	width: 200px;
	position: absolute;
	top: 123px;
	right: 30px;
}

.page-footer__time-status {
	width: 200px;	
	height: 200px;	
	display: flex;
	flex-direction: column;	
	align-items: center;
	padding-top: 25px;
	
	background-color: rgba(255,255,255, 0.8);		
}

.page-footer__time-status:first-of-type {
	margin-bottom: 1px;
}

.page-footer__time-status:last-of-type {
	padding: 0;
	margin-top: 1px;
	
	background-image: url(../images/block_3_onMinutes.png);
	background-repeat: no-repeat;
}


.page-footer__time-title {
	padding: 0;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 20px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #a47d5e;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.page-footer__time-status:last-of-type .page-footer__time-title {
	margin-bottom: 38px;
}

.page-footer__time-number {
	display: block;
	margin-bottom: 15px;
	
	font-family: "Alegreya", sans-serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 30px;
	color: #56534c;
	letter-spacing: 7px;
}

.page-footer__time-status:last-of-type .page-footer__time-number {
	margin-bottom: 26px;
}

.page-footer__time-status:last-of-type .page-footer__time-number {
	font-size: 92px;	
	color: #dfc691;	
}

.page-footer__time-name {
	font-family: "Alegreya", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #979285;
	letter-spacing: 2px;
}
 